# Files to exclude from the extension package

.vscode/**
.vscode-test/**
src/**
out/test/**
*.ts
!*.d.ts
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
webpack.config.js
.vscodeignore
